<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mysell.dao.OrderMasterInfoMapper">
  <resultMap id="BaseResultMap" type="com.app.mysell.entity.OrderMasterInfoEntity">

    <id column="id" property="id" />
    <result column="buyer_name" property="buyerName" />
    <result column="buyer_phone" property="buyerPhone" />
    <result column="buyer_address" property="buyerAddress" />
    <result column="buyer_openid" property="buyerOpenid" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="order_status" property="orderStatus" />
    <result column="pay_status" property="payStatus" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, buyer_name, buyer_phone, buyer_address, buyer_openid, order_amount, order_status,
    pay_status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from mysell.order_master_info
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

    delete from mysell.order_master_info
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.app.mysell.entity.OrderMasterInfoEntity">

    insert into mysell.order_master_info (id, buyer_name, buyer_phone, 
      buyer_address, buyer_openid, order_amount, 
      order_status, pay_status, create_time, 
      update_time)
    values (#{id}, #{buyerName}, #{buyerPhone}, 
      #{buyerAddress}, #{buyerOpenid}, #{orderAmount}, 
      #{orderStatus}, #{payStatus}, #{createTime}, 
      #{updateTime})
  </insert>
  <insert id="insertSelective" parameterType="com.app.mysell.entity.OrderMasterInfoEntity">

    insert into mysell.order_master_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buyerName != null">
        buyer_name,
      </if>
      <if test="buyerPhone != null">
        buyer_phone,
      </if>
      <if test="buyerAddress != null">
        buyer_address,
      </if>
      <if test="buyerOpenid != null">
        buyer_openid,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="buyerName != null">
        #{buyerName},
      </if>
      <if test="buyerPhone != null">
        #{buyerPhone},
      </if>
      <if test="buyerAddress != null">
        #{buyerAddress},
      </if>
      <if test="buyerOpenid != null">
        #{buyerOpenid},
      </if>
      <if test="orderAmount != null">
        #{orderAmount},
      </if>
      <if test="orderStatus != null">
        #{orderStatus},
      </if>
      <if test="payStatus != null">
        #{payStatus},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.app.mysell.entity.OrderMasterInfoEntity">

    update mysell.order_master_info
    <set>
      <if test="buyerName != null">
        buyer_name = #{buyerName},
      </if>
      <if test="buyerPhone != null">
        buyer_phone = #{buyerPhone},
      </if>
      <if test="buyerAddress != null">
        buyer_address = #{buyerAddress},
      </if>
      <if test="buyerOpenid != null">
        buyer_openid = #{buyerOpenid},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.app.mysell.entity.OrderMasterInfoEntity">

    update mysell.order_master_info
    set buyer_name = #{buyerName},
      buyer_phone = #{buyerPhone},
      buyer_address = #{buyerAddress},
      buyer_openid = #{buyerOpenid},
      order_amount = #{orderAmount},
      order_status = #{orderStatus},
      pay_status = #{payStatus},
      create_time = #{createTime},
      update_time = #{updateTime}
    where id = #{id}
  </update>
</mapper>