<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mysell.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.app.mysell.entity.UserInfoEntity">

    <id column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="phone" property="phone" />
    <result column="openid" property="openid" />
    <result column="createTime" property="createtime" />
    <result column="updateTime" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">

    id, user_name, phone, openid, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from mysell.user_info
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

    delete from mysell.user_info
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.app.mysell.entity.UserInfoEntity" useGeneratedKeys="true">

    insert into mysell.user_info (user_name, phone, openid, 
      createTime, updateTime)
    values (#{userName}, #{phone}, #{openid}, 
      #{createtime}, #{updatetime})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.app.mysell.entity.UserInfoEntity" useGeneratedKeys="true">

    insert into mysell.user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName},
      </if>
      <if test="phone != null">
        #{phone},
      </if>
      <if test="openid != null">
        #{openid},
      </if>
      <if test="createtime != null">
        #{createtime},
      </if>
      <if test="updatetime != null">
        #{updatetime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.app.mysell.entity.UserInfoEntity">

    update mysell.user_info
    <set>
      <if test="userName != null">
        user_name = #{userName},
      </if>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="openid != null">
        openid = #{openid},
      </if>
      <if test="createtime != null">
        createTime = #{createtime},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.app.mysell.entity.UserInfoEntity">

    update mysell.user_info
    set user_name = #{userName},
      phone = #{phone},
      openid = #{openid},
      createTime = #{createtime},
      updateTime = #{updatetime}
    where id = #{id}
  </update>
</mapper>